<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vincent.projectanalysis">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.guideMask.demo.ShowGuideActivity"/>
        <activity android:name=".module.mapScene.MapSceneActivity"/>
        <activity android:name=".activity.RippleAndWaveActivity"/>
        <activity android:name=".activity.LevelProgressActivity"/>
        <activity android:name=".activity.ClipRevealActivity"/>
        <activity
            android:name=".activity.CountDownActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.BlinkTagActivity"
            android:theme="@style/CustomMaterialTheme">
        </activity>
        <activity android:name=".activity.DemoActivity">
        </activity>
        <activity android:name=".activity.HomeworkCheckActivity">
        </activity>
        <activity android:name=".activity.ScanActivity">
        </activity>
        <activity android:name=".activity.WidgetsCollectionsActivity">
        </activity>
        <activity android:name=".activity.GuideActivity">
        </activity>
        <activity android:name=".activity.LottieActivity">
        </activity>
        <activity android:name=".activity.ChartActivity">
        </activity>
        <activity android:name=".module.chart.PieChartActivity"/>
        <activity android:name=".module.chart.HorizontalBarChartActivity"/>
        <activity android:name=".module.chart.MyCustomChartActivity">
        </activity>
    </application>

</manifest>